<html>
  <head></head>
  <body>
    <h1>
    ERROR
    </h1>
    <h2>
      Here is some info:
    </h2>
    <p>
        Invalid Parameters!
    </p>
    <h2>
	    Detailed info:
    </h2>
    <p>
        The required parameters are as follows:
        - Must enter a symbol for true
        - Must enter a symbol for false
        - Must enter a size >= 2
    </p>
    <a href="/">Back to Homepage</a>
  </body>
</html>
