<html>
  <head></head>
  <body>
    <center>
      <h1>
      ERROR
      </h1>
      <h2>
        Information:
      </h2>
      <p>
        Invalid Parameters!
      </p>
      <h2>
	    The required parameters are as follows:
      </h2>
      <p>
        <br>
        - Must enter a single character for true
        <br>
        - Must enter a single character for false
        <br>
        - Must enter a size >= 2
        <br>
        - The two symbols must differ from each other
      </p>
      <a href="/">Back to Homepage</a>
    </center>
  </body>
</html>
