<html>
  <head></head>
  <body>
    <center>
      <br>
      <h1>
      Welcome to Truth Table Generator
      </h1>
      <form action='/submit'>
        True Symbol: <input type='text' name='true_sym' />
        <br>
        False Symbol: <input type='text' name='false_sym' />
        <br>
        Size (2^x): <input type='text' name='size' />
        <br>
        <br>
        <input type="submit" value="Show Truth Table">
      </form>
      <br>
      <a href="/">Reload Page</a>
    </center>
  </body>
</html>
