<html>
  <head></head>
  <body>
    <form>
        True Symbol: <input type='text' name='true_sym' />
        False Symbol: <input type='text' value='false_sym' />
        Size (2^x): <input type='text' value='size' />
    <input type="submit" value="Submit">
  </form>
  <a href="/">Reload Page</a>
  </body>
</html>
